<header class="hero">
  <div class="hero__content inner">

    <nav class="nav">

      <ul class="nav__list">
        {% for page in site.pages %}
          {% if page.title %}
          <li class="nav__list-item"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    
    <h1 class="hero__title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  </div>
  <div class="hero__media">
    {% if page.url == "/index.html" or page.url == "/" %}
      <img src="{{ site.baseurl }}/img/header.jpg">
    {% elsif page.image %}
      <img src="{{ site.baseurl }}/img/{{ page.image }}">
    {% else %}
      <div class="hero__filler"></div>
    {% endif %}
  </div>

</header>
