/* Grid */
.inner {
  width: 90%;
  max-width: $content-width;
  margin: 0 auto;
}
.grid {
  display: flex;
  flex-direction: row;
  &__item {
    flex-grow: 1;
  }
}
/* setting column widths */
.grid__item-one-whole {
  width: 100%;
}
.grid__item-one-half {
  width: 50%;
}
.grid__item-one-third {
  width: 33%;
}

/* Hero */

.hero {
  position: relative;
  max-height: 690px;
  overflow: hidden;
  &__title {
    font-size: $huge-font-size;
    position: absolute;
    top: 50%;
    text-align: center;
    margin-top: -60px;
    height: 120px;
    width: 100%;
    a {
      color: $background-color;
    }
    @include media-query($on-palm) {
      font-size: $big-font-size;
    }
  }
  &__content {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
  }
  &__filler {
    background-color: $alt-background-color;
    height: 450px;
    width: 100%;
  }
}

/* Main */
.main {
  margin-top: $pad*3;
  &__posts-list {
    li {
      margin-bottom: $pad*6;
    }
  }
}

/* Footer */
.footer {
  background-color: lighten($light-background-color, 20%);
  margin-top: $pad*3;
  padding: $pad 0;
}